.walkthrough-view
{    
	.top-content
	{
        background-color: white;
        padding-top: 30vh;
		height: 20vh;
		text-align: center;
        padding-bottom: 0px;

		h1
		{
            font-size: 10vh;
			color: $auth-color;
		}
        
        h2{
            color: white;
        }
        
        .logo{
            max-width: 70vw;
            height: auto;
            align-content: "center";
        }
	}

	.bottom-content
	{
        background-color: white;
		height: 65vh;
		margin-top: 0px;
        

		.button
		{
			border: none;
			color: $auth-color;
			font-weight: thin;
			font-size: 20px;
		}

		.login.button
		{
			background-color: #61B5B5;
		}

		.sign-up.button
		{
			background-color: #389595;
		}
	}
}
